apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
  namespace: {{.Values.namespace}}
  labels:
    app: podinfo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: podinfo
  template:
    metadata:
      labels:
        app: podinfo
    spec:
      containers:
      - name: podinfo
        image: kannam/podinfo:<+artifacts.primary.tag>
        imagePullPolicy: Always
        ports:
        - containerPort: 9898
          name: http
          protocol: TCP
        env:
        - name: PODINFO_UI_COLOR
          value: "#34577c"
        - name: DEPLOYMENT_TYPE
          value: "bluegreen"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 9898
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /readyz
            port: 9898
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          successThreshold: 1
          failureThreshold: 3
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: podinfo
  namespace: {{.Values.namespace}}
  labels:
    app: podinfo
spec:
  type: ClusterIP
  ports:
  - port: 9898
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: podinfo
---
apiVersion: v1
kind: Service
metadata:
  name: podinfo-stage
  namespace: {{.Values.namespace}}
  labels:
    app: podinfo
    stage: green
spec:
  type: ClusterIP
  ports:
  - port: 9898
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: podinfo
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: podinfo
  namespace: {{.Values.namespace}}
  labels:
    app: podinfo
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: podinfo
    weight: 100
  wildcardPolicy: None
